    @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

    /* variables */

    :root {
        --basic-black: #000000;
        --basic-extra-dark: #242424;
        --basic-dark: #aba9a7;
        --basic-neutral: #e5e5e5;
        --basic-extra-light: #f8f5f2;
        --basic-white: #ffffff;

        --special: #663d15;
    }

    body{
        min-width: 960px;
        margin: 0;
        padding: 0; 
        font-family: "PT Sans Narrow"; 
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: var(--basic-extra-dark);
        text-transform: uppercase;
        background-color: var(--basic-black);
        background-image: url("../img/pattern-light.jpg");
        background-position: top center;
        background-repeat: repeat;
    }

    .main-header-bar{
        background-color: var(--basic-black);
    }

    .main-header-logo{
        order: 1;
        justify-self: center;
    outline-offset: -5px;
    }

    .inner-page .main-navigation-wrapper{
        grid-template-columns: 170px 1fr min-content;
    }

    .page-body {
        min-height: 100%;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        align-content: start;
    }

    .inner-page .main-header-logo {
        order: 0;
    }

    .page{
        height: 100%;
    }

    .botton-disabled
    .botton:disabled{
        opacity: 0.5;
        cursor: default;
        background-color: var(--basic-black);
    }

    .product-unit{
        width: 180px;
    }

    .product-unit fieldset{
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        border: none;
    }

    .product-unit fieldset:first-child{
        margin-bottom: 15px;
    }

    .product-unit legend{
        margin-bottom: 26px;
        font-size: 24px;
        line-height: 30px;
    }

    .product-unit ul{
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 18px;
    }

    .list-list{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        margin-bottom: 25px;
        margin-left: 60px;
    }

    .list-item{
        width: 225px;
        min-height: 285px;
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }


    .list-item:nth-child(3n){
    margin-right: 0;
    }

    .list-item h3{
        margin-top: 17px;
        margin-right: 15px;
        margin-bottom: 12px;
        margin-left: 16px;
        font-size: 14px;
        line-height: 18px;
    }

    .cotalog-image{
        width: 220px;
        height: 165px;
        margin: 0;
    }

    .item-price{
        background-color: #d8d7d7;
        display: flex;
        margin: 15px;
        margin-top: 0;
        object-fit: contain;
    }

    .main-header{
        outline-offset: -5px;
        margin-bottom: 70px;
        outline-offset: -5px;
    }

    /* navigation */

    .site-navigation {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 940px;
        margin-right: 146px;
        padding: 0 10px;
        display: flex;
    }

    .main-header-bar{
        margin-bottom: -25px;
    }



    .branches{
        display: flex;
    }

    .navigation-menu{
        margin: 20px;
    }

    .enter-button{
        display: flex;
    }


    .main-navigation-wrapper{
        height: 70px;
    }

    .site-navigation li {
        margin-right: 20px;
    } 

    .main-navigation{
        font-size: 16px;
        line-height: 20px;
        color: var(--basic-white);
        background-color: transparent;
    }

    .main-navigation-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--basic-black);
        padding: 0 10px;
    }

    .site-navigation a,
    user-navigation a {
        color: var(--basic-white);
        text-decoration: none;
    }

    .group-item{
        margin-bottom: 15px;
    }

    /* .main-navigation-wrapper{
        
    } */


    /* means-container */

    .means-container{
        list-style: none;
    }

    /* buttons */

    .botton{
        color: inherit;
        text-decoration: none;
    }

    /* grid for pages */

    .page-cotalog{
        display: grid;
        width: 960px;
        margin: auto 0;
        grid-template-columns: 180px 1fr;
        align-content: start;
        padding: 10px;
        outline-offset: -5px;
    }

    .page-cotalog .page-title{
        /* width: 960px;
        margin: auto 0; */
        grid-column: 1 /-1;
        outline-offset: -5px;
    }

    .page-title{
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
    }


    .container{
        justify-self: center;
    }

    .branches{
        /* width: 960px;
        margin: auto 0; */
        grid-column: 1 /-1;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;
        list-style: none;
    }

    /* lists */

    .list-item{
    background-image: url("../img/buy-fon.jpg") ;
    }

    .button{
        font: inherit;
        padding: 10px 30px;
        text-decoration: none;
        text-align: center;
        color: var(--basic-white);
        vertical-align: middle;
        text-transform: uppercase;
        background-color: var(--basic-black);
        border: none;
    }

    .button:hover,
    .button:focus,
    .button:active{
        background-color: var(--special);
    }

    .enter-button{
        position: relative;
        right: 294.5px;
        font: inherit;
        color: var(--basic-white);
        text-decoration: none;
        background-color: var(--basic-black);
    }


    /* filter-product-list */

    .filter-product-list{
        list-style: none;
    }

    .filter-product{
        width: 180px;
    }

    .visually-hidden{
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

    #filter-mr-natty{
        transform: scale(1.6);
    }

    #filter-baxter-of-california{
        transform: scale(1.6);
        
    }

    #filter-murrays{
        transform: scale(1.6);
    }

    #filter-suavecito{
        transform: scale(1.6);
    }

    #filter-american-crew{
        transform: scale(1.6);
    }

    #filter-malin-goetz{
        transform: scale(1.6);
    }


    #filter-shave{
        transform: scale(1.6);
    }

    #filter-hair-care{
        transform: scale(1.6);
    }

    #filter-accessories{
        transform: scale(1.6);
    }



    .filter-option{
        margin-bottom: 15px;
    }

    /* group-list */

    .group-list{
        list-style: none;
    }


    .list-item{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .social-button{
        text-decoration: none;
    }

    .list-list h3{
        order: 1;
    }

    .list-list p{
        order: 2;
    }


    /* list-list */

    .list-list{
        list-style: none;
    }

    /* number-list */

    .number-list{
        list-style: none;
    }

    .number-item{
        color: var(--basic-white);
        text-decoration: none;
        background-color: var(--basic-black);
    }

    .number-item:hover,
    .number-item:focus,
    .number-item:active{
    background-color: var(--special);
    }


    /* footer */

    .main-footer{
        padding: 30px;
        margin-top: 65px;
        color: var(--basic-white);
        background-color: var(--basic-extra-dark);
        background-image: url("../img/pattern-dark.jpg");
        background-position: 0 0;
        background-repeat: repeat;
        outline-offset: -5px;
    }
    
    .footer-contacts{
        color: var(--basic-white);
        text-decoration: underline;
    }

    .footer-containetr {
        width: 940px;
        height: 124px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }

    .footer-address{
        color: var(--basic-white);
    }

    .footer-phone{
        color: var(--basic-white);
    }

    .footer-contacts:hover,
    .footer-contacts:focus{
        text-decoration: none;
    }

    .footer-link button{
        padding: 10px 30px;
    }

    .footer-social{
        text-align: center;
    }

    .footer-social h2{
        margin-right: 160px;
    }

    .footer-social ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-right: 200px;
    }

    .footer-social h2{
        font-size: 14px;
    }

    /* social button */

    .social-button{
        display: flex;
        flex-wrap: wrap;
        margin: 4px;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 43px;
        background-color: var(--basic-black);
        color: inherit;
    }

    .social-button:hover,
    .social-button:focus,
    .social-button:active{
        background-color: var(--special);
        color: var(--basic-black);
    }

    .footer-develop{
        text-align: center;
    }

    .footer-copyright .button:hover
    .footer-copyright .button:focus{
        color: var(--basic-black);
        background-color: var(--basic-white);
    }

    .modal{
        color: var(--basic-black);
        background-color: var(--basic-extra-light);
        background-image:url("../img/pattern-dark.jpg") ;
        background-position: 0 0;
        background-repeat: repeat;
        box-shadow: 0 30px 50px rgba (0, 0, 0, 0.7);
    }

    .modal-login h2{
        font-size: 30px;
        line-height: 42px;
    }

    /* social button */

    .social-button{
        color: inherit;
    }

    .social-button:hover,
    .social-button:focus{
        color: var(--basic-black);
        background-color: var(--special);
    }

    .footer-copyright .button:hover
    .footer-copyright .button:focus{
        color: var(--basic-black);
        background-color: var(--basic-white);
    }

    .item-price{
        display: flex;
        flex-wrap: wrap;
    }

    .item-price b{
    width: 112px;
    padding: 13px 25px 11px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    }

    .item-price button{
        padding: 13px 20.5px 11px;
        margin-right: 0;
        line-height: 15px;
    }

    .radio-list button{
        padding: 6px 15px;
    }

    .number-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .number-item{
        display: block;
        padding: 10px 19px;
        margin-right: 7px;
    }

    .fa-door-open{
        color: #4d4d4d;
        /* right: 5px; */
    }

    .enter-button .fa-door-open{
        /* padding-left: 50px; */
        position: relative;
    }

    .fa-door-open:hover,
    .fa-door-open:focus,
    .fa-door-open:active{
        color: var(--basic-white);
    }

    .menu-list{
        margin-right: 30px;
        margin-top: 15px;
    }

    .fa-square-full{
        transform: rotate(45deg);
        margin-right: 27px;
    }

    .list-item{
        transition: 0.3s;
    }

    .list-item:hover{
        transform: scale(1.05);
    }

    .fa-door-open{
        right: 5px;
        top: 2px;
    }


    /* market-place */


    .branchestwo{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin-bottom: 50px;
    }

    .listtwo{
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: -10px;
        position: relative;
        bottom: 4px;
    }

    .listul{
        padding: 0;
    }

    .conection{
        display: flex;
    }

    .photo-list{
        max-width: 100%;
        margin-bottom: 15px;
    }

    .page-titletwo{
        font-size: 29px;
    }

    .font-size{
        font-size: 24px;
        margin-top: 60px;
        margin-bottom: 25px;
    }
    
    .page-titletwo{
        /* outline: 5px solid rgba(0, 255, 0, 0.7); */
    }

    .main-photo{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .sectiontwo{
        width: 390px;
        padding-top: 23px;
        padding-left: 80px;
    }

    .maintwo{
        width: 940px;
        margin: 0 auto;
        margin-bottom: -15px;
        padding: 0 10px;
        margin-top: 90px;
    }

    .large-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .photo-items{
        display: flex;
        justify-content: space-between;
    }

    .articul{
        color: #aba9ae;
    }

    .second-text{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }

    .main-text{
        margin-bottom: 35px;
    }

    .item-price-two{
        /* width: 210px; */
        background-color: #d8d7d7;
        display: flex;
     }

     .item-price-two b{
        width: 112px;
        padding: 13px 25px 11px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
     }

     .menu-listtwo{
         margin-right: 27px;
     }




     /* modal */

.modal{
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url("../img/pattern-light.jfif");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgb(0, 0, 0, 0.7);
}

.modal-close{
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: #aba9a7;
}

.modal-close::before{
    transform: rotate(45deg);
}

.modal-close::after{
    transform: rotate(-45deg);
}

.modal-login{
    display: none;
    top: 120px;
    bottom: auto;
    width: 300px;
    padding: 50px 80px;
}

.modal-description{
    margin-bottom: 25px;
}

.login-icon-user{
    border: 2px solid var(--basic-black)
}

.login-icon-password{
    width: 97%;
    font-family: inherit;
    padding-top: 10px;
    padding-bottom: 7px;
    border: 2px solid var(--basic-black)
}

.login-icon-user{
    width: 97%;
    font-family: inherit;
    padding-top: 10px;
    padding-bottom: 7px;
    border: 2px solid var(--basic-black)
}

.login-fill{
    display: flex;
    justify-content: space-between;
}

.enter-button-two{
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-right: 0%;
    font: inherit;
    padding: 10px 30px;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-black);
    border: none;
}

    .enter-button-two:hover,
    .enter-button-two:focus,
    .enter-button-two:active{
        background-color: var(--special);
    }

.login-checkbox{
    position: relative;
    top: 12px;
}

.registration{
    position: relative;
    left: 90px;
    color: var(--basic-black);
    text-decoration: underline;
}
    

